<!-- <p>Buscar libro:</p>

<form action="">
  <input placeholder="Ingrese título del libro" type="text" name="buscar-libro" id="buscar-libro" [(ngModel)]="titulo">
  <button (click)="buscarLibro()" type="submit">Buscar Libro</button>
</form>

<div *ngFor="let data of biblioteca">
  <p> {{ data.titulo }} </p>
</div>  -->

<p>Hola</p>

<form name="permisos" [formGroup]="permisosForm"> <p>{{ permisos.controls.length }}</p>
  <div formArrayName="permisos">
    <ng-container *ngFor="let permiso of permisos.controls; index as i">
      <label>
        <input type="text" name="permisos-{{i}}" [formControlName]="i">
        <div *ngIf="permiso.hasError('required') && permiso.touched">
          Este campo es obligatorio.
        </div>
        <div *ngIf="permiso.hasError('minlength') && permiso.touched">
          Debe tener al menos 3 caracteres.
        </div>
        <button (click)="borrarFilaPermisos(i)">Borrar Fila de Permisos</button>
      </label>
      <button (click)="agregarFilaPermisos()">+ Agregar Fila de Permisos</button>
    </ng-container>
  </div>
</form>


<br><br>
<pre>{{ permisosForm.value | json  }}</pre>